.App {
  text-align: center;
  font-family: cursive;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: skyblue;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: x-large;
}

.App-picList {
  display: -moz-grid-group;
  display: inline;
  display: grid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
